name: Update gist with WakaTime stats
on:
  workflow_dispatch:
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Update gist
        uses: matchai/waka-box@master
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: 4f55c890c187061ac56d7f83dd557ce6
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
